html,body{margin:0;height:100%;background-color:#07080d;background-size:cover;background-position:center;background-attachment:fixed;display:flex;align-items:center;justify-content:center;overflow:hidden}
canvas{image-rendering:pixelated;background:transparent}
